body{
    text-align: center;
    background-color: #FFEBCC;
   
}
p{
    color: #94B49F;
    font-size: 20px;
}
h1{
    font-size: 40px;
    color: #789395;
}
.tables{
    margin-left: auto; 
    margin-right: auto;
    border-style: solid;
    font-size: 36px;
    width: 100%;
    border-collapse: collapse;
    border-color: #789395;

}
.left-side{
    text-align: left;

}
.fs-24{
    font-size: 24px;
}
.color-green{
    color: #94B49F;
}
li{
    list-style-position: inside;
}